.nav ul{
    list-style: none;
    background: blue;
    text-align:center;
    padding:0;
    margin:0;
    }
    .nav li{
        display:inline-block;
    }
    .nav a{
        text-decoration: none;
        color:white;
        width:100px;
        display:block;
        text-align:center;
        padding:15px;
        font-size:17px;
        font-family:Helvetica;
    }
    .contact{
        background-color: blue;
        text-align: center;
        width: 100%;
        height: 50px;
        padding-top: 8px;;

    }
    .abt{
        display: flex;
        justify-content: center;

    }
    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .me img{ 
        width: 400px;
        height: 400px;

    }


    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 300px;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .cards{
        
          display: flex;
          justify-content: space-around;

      }
      
      #about{
          padding-top: 50px;
          text-align: center;
          
      }

      #heading{
        font-size: 50px;
      }

      